.banner {
    background: var(--gradient-blue);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__busca {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__busca::placeholder{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__busca {
        width: 50%;
    }

    .banner__busca::placeholder {
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px) {
    .banner__busca {
        width: 32%;
    }

    .banner__busca::placeholder {
        background-position: 9em;
    }

    .banner {
        padding: 6em 0;
    }
}